---
type Props = {
  text: string;
  ref: string;
  customClasses: string;
};
const { text, ref, customClasses } = Astro.props;
---

<div class="flex w-full text-center mb-4">
  <a
    href={ref}
    class={"block w-full rounded-full px-30 py-5 text-light font-bold " +
      customClasses}
  >
    {text}
  </a>
</div>
